
<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">j-villadiego-t</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acercade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mis proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hi,<br>I am John</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet soluta veniam voluptate aliquam
                    deleniti labore quod quis illum, sapiente nam nesciunt magni voluptatibus voluptatem incidunt
                    placeat consequuntur quaerat voluptatum expedita!</p>
                <button type="button" class="btn btn-dark btn-lg">Book a Skype Call</button>
            </div>
            <div class="col">
                <img src="img/app_development.svg" alt="...">
            </div>
        </div>
    </div>
</section>




<div class="container">
    <div class="row align-items-center projects">
        <div class="col">
            <h1>Mis proyectos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quod aliquam corporis tempore nostrum.
                Animi rem quisquam deleniti qui ad ipsa quod! Animi corrupti, ex blanditiis dolor error nulla
                consectetur.</p>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3">
                    <img src="https://i.pinimg.com/564x/ee/8e/f9/ee8ef928cb74191c3e64d1ac2e24ccc8.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title 1</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Some useful info</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://i.pinimg.com/564x/ee/8e/f9/ee8ef928cb74191c3e64d1ac2e24ccc8.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title 1</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Some useful info</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://i.pinimg.com/564x/ee/8e/f9/ee8ef928cb74191c3e64d1ac2e24ccc8.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title 1</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Some useful info</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
