<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">
            <img src="" 
            alt="Jeaffer villadiego turizo ing sistemas"/>
            jvilladiegot</a>
        <button 
            class="navbar-toggler" 
            type="button",
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
        <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center">
                <li><a href="#" class="nav-link">Inicio</a></li>
                <li><a href="#" class="nav-link">Acercade</a></li>
                <li><a href="#" class="nav-link">Servicios</a></li>
                <li><a href="#" class="nav-link">Portafolio</a></li>
                <li><a href="#" class="nav-link">Blog</a></li>
                <li><a href="#" class="nav-link">Contacto</a></li>
            </ul>
        </div>
    </nav>
</div>