<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
            </svg>
            jvilladiegot
        </a>
        <button 
            class="navbar-toggler" 
            type="button",
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
        <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center">
                <li><a href="#" class="nav-link">Inicio</a></li>
                <li><a href="#" class="nav-link">Acercade</a></li>
                <li><a href="#" class="nav-link">Servicios</a></li>
                <li><a href="#" class="nav-link">Portafolio</a></li>
                <li><a href="#" class="nav-link">Blog</a></li>
                <li><a href="#" class="nav-link">Contacto</a></li>
            </ul>
        </div>
    </nav>
</div>