
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ profile.email }}</h5>
        <p class="card-text">{{ profile.linkedin }}</p>
        <a href="https://github.com/{{profile.github}}" class="btn btn-primary">{{profile.github}}</a>
    </div>
</div>